<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1" />
<title>IES ,IPS ACADEMY</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/images/logo.png" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body class="dark">

	<div th:replace="thymeleaf/components/header :: navbar"></div>

	<h1 th:if="${userName}" th:text="${#strings.toUpperCase(userName)}" class="textTheme" 
		style="margin-top: 10px; margin-left: 20px; color:black;"></h1>



	<div class="container-fluid">
		<h1 class="display-4 fonts textTheme" >Add Missing Copies</h1>
		<br> <br>
		<p th:if="${error}" class="h5" style="color: red;">Please enter
			no. of copies greater than 0 !</p>
		<form th:action="@{/Series/addMissingCopies}" method="post">
			<div th:if="${param.missing}" class="alert alert-danger">
				Series Added but some missing series are in alloted series and hence
				discarded !</div>
			<div th:if="${param.allalloted}" class="alert alert-danger">
				The series or copy no. you entered are all alloted !</div>
			<div th:if="${param.seriesadded}" class="alert alert-info">
				Series Added !</div>
			<div class="form-group fonts textTheme">
				<label for="seriesNo">Series
					Number </label> <input type="number" class="form-control" id="seriesNo"
					th:name="seriesNo" aria-describedby="seriesNo"
					placeholder="Series No." /> <small id="seriesNo"
					class="form-text text-muted">Enter initial series number.</small>
			</div>
			<div class="form-group fonts textTheme">
				<label for="copiesNo" >No.
					of Copies </label> <input type="number" class="form-control" id="copiesNo"
					th:name="copiesNo" placeholder="No. of Copies" />
			</div>
			<p class="h5" style="color: red;"></p>

			<button type="submit" class="btn btn-danger" id="btn">Add Series</button>
		</form>
	</div>


	<!-- SCRIPTSSS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function () {
			function runIt() {
				var $logo = $('#logo');
				$logo.animate({
					opacity: '1'
				}, 1000);
				$logo.animate({
					opacity: '0.3'
				}, 1000, runIt);
			}
			runIt();
		});
	</script>

<div th:replace="/thymeleaf/components/header :: theme"></div>

</body>
</html>