<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags">

<head>

<title>IES ,IPS ACADEMY</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/images/logo.png" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
	.bg {
		background-color: #e6e6e6 !important;
	}
</style>
</head>

<body class="dark" id="tablebg">
	<!-- HEADER FRAGEMENTS  -->
	<div th:replace="thymeleaf/components/header :: navbar"></div>

	<!-- TABLE FORM -->	


	<div class="container-fluid" style="color: white;">
	<h1 class="display-4 fonts textTheme">Missing UFM Details</h1>

		<div class="container">
			<div class="row">
				<div class="col-md-12 table-reponsive">
					<table class="table table-hover table-dark table-bordered
					">
						<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Missing Copies</th>
								<th scope="col">UFM Copies</th>

							</tr>
						</thead>
						<tbody th:each="m : ${m}">
							<tr>
								<td scope="row">#</td>
								<td th:if="${m.missing}" scope="row"><input
									style="background-color: transparent !important; width: 100%; color: white; border: none !important;"
									name="id" th:value="${m.missing}" /></td>
								<td th:if="${m.ufm}" scope="row"><input
									style="background-color: transparent !important; color: white; border: none !important;"
									name="Serial Copies" th:value="${m.ufm}"></td>
							</tr>
						</tbody>
						<tfoot class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Missing Copies</th>
								<th scope="col">UFM Copies</th>

							</tr>
						</tfoot>

					</table>
				</div>
			</div>
		</div>

</div>


		<!-- SCRIPTS -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript"
			src="
    https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

			
			<script>
				$(document).ready(function () {
					function runIt() {
						var $logo = $('#logo');
						$logo.animate({
							opacity: '1'
						}, 1000);
						$logo.animate({
							opacity: '0.3'
						}, 1000, runIt);
					}
					runIt();
				});
			</script>
			<div th:replace="/thymeleaf/components/header :: theme"></div>

</body>
</html>