<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1" />
<title>IES ,IPS ACADEMY</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/images/logo.png" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>


	<!-- PAGE ONE -->

	<div th:fragment="one(one)">
		<div class="container-fluid"
			style="width: 90%; height: 60% !important;">
			<div class="table-responsive">
				<table class="table table-hover table-bordered bg-light lead fonts"
					id="one">
					<thead class="thead-light lead fonts">
						<tr>
							<th scope="col"><input type="checkbox" id="checkBoxAll" /></th>
							<th scope="col">Enrollment No.</th>
							<th scope="col">Serial No.</th>
							<th scope="col">Absent / Present</th>
						</tr>
					</thead>
					<tbody th:each="one,status : ${one}" >
						<tr id="search" class="lead fonts">
							<td scope="row"><input type="checkbox" 
								class="chkCheckBoxAll"
								th:name="|useLessModels[${status.index}].check|" /></td>
							<td scope="row"><input type="text" class="hell"
								th:name="|useLessModels[${status.index}].enrollementNo|"
								th:value="${one.enrollementNo}" /></td>

							<td scope="row"><input type="text" class="hell" id="search"
								th:name="|useLessModels[${status.index}].serialNo|"
								th:value="${one.serialCopies}" /></td>

							<td scope="row"><div class="input-group mb-3">
									<select class="custom-select" id="inputGroupSelect01"
										th:name="|useLessModels[${status.index}].absentPresent|">
										<option value="true">Present</option>
										<option th:value="false">Absent</option>
									</select>
								</div></td>
						</tr>
					</tbody>
					<tfoot class="thead-light lead fonts">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Enrollment No.</th>
							<th scope="col">Serial No.</th>
							<th scope="col">Absent / Present</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>




</body>
</html>